@charset "UTF-8";


@media (min-width: 768px) {
    .container-info {
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
    }
}

.info__tag {
    margin: 0 0 20px 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container-info {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/gold.jpg");;
}


@media (min-width: 768px) {
    .container-info {
        float: right;
        position: fixed;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 50%;
    }
}

.info__headshot-img {
    display: block;
    margin: auto auto auto auto;
    width: 250px;
    border-radius: 50%;
    background: #8C7E75;
    box-shadow: 0 5px 10px #2F231F;
}

.info {
    text-align: center;
}

.info-text {
    display: inline-block;
    margin: 25px auto auto auto;
    max-width: 460px;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 0 20px;
    text-shadow: 1px 1px 1px #000;
}

.info-description {
    color: white;
    margin: 20px auto auto auto;
    font-size: 22px;
    text-align: center;

    font-weight: normal;
}

.waver {
    display: inline-block;
    font-size: 40px;
    margin: 0;
    animation: waver 0.65s alternate infinite;
    animation-iteration-count: 3.5;
    transform-origin: 50% 90%;
    animation-timing-function: ease-in-out;
}

@keyframes waver {
    0% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@media (min-width: 1024px) {
    .info-text {
        max-width: 550px;
        font-size: 40px;

    }

    .waver {
        font-size: 40px;
    }
}

/* Fade In Animation */
@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


.info__social-icon, .info__social-icon--linkedin, .info__social-icon--github, .info__social-icon--twitter {
    margin-left: 10px;
    padding-top: 4px;
    color: white;
    text-decoration: none;
    transition: 0.1s color ease;
}

.info__social-icon:hover, .info__social-icon--dribbble:hover, .info__social-icon--linkedin:hover, .info__social-icon--instagram:hover, .info__social-icon--github:hover, .info__social-icon--twitter:hover {
    color: #D1D1D3;
}

.info-main {
    opacity: 0;
    width: 100%;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    margin-top: 30%
}


.info__social {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
        text-shadow: 0.5px 0.5px 0.5px #000;

}

@media (min-width: 768px) {
    .info-main {
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-60%);
    }

    .info__social {
        position: fixed;
        right: 20px;
        bottom: 10px;
            font-size: 30px;

    }
}