@charset "UTF-8";


/* Fade In Animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-main::-webkit-scrollbar {
    display: none;
}
