.waver {
    display: inline-block;
    font-size: 40px;
    margin: 0;
    animation: waver 0.65s alternate infinite;
    animation-iteration-count: 3.5;
    transform-origin: 50% 90%;
    animation-timing-function: ease-in-out;
}

@keyframes waver {
    0% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(30deg);
    }
}