$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: rgba(45, 42, 38, 0.8);
$color-white: white;
$color-black: #333;

$default-font-size: 1.6rem;

$radius-rounded: 290486px !default;

$sm: 600px;

$md: 768px;

$lg: 992px;

$xl: 1200px;

