.container {
  margin: 0 auto;
  max-width: $lg;
  width: 100%;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: $lg) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}