@media screen and (max-width: $lg - 40px) {

  .header .grid {
    flex-direction: column-reverse;
  }

  .me {
    width: 30%;
  }

  .intro {
    margin-top: 5rem;
  }
}

@media screen and (max-width: $md) {


  .me {
    width: 50%;
  }
}
