.idea/
*.pyc
*.vagrant/
lib/*.egg-info
lib/*.dist-info
ghostdriver.log
functional_tests/.screenshots/*.png
venv/
*.DS_Store
static/bower_components/*
static/node_modules/*
coverage
node_modules/
google_appengine/
google_appengine
