.tag {
  opacity: 0.6;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.headline-primary {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  line-height: 7rem;
  font-weight: 400;
}

.headline-secondary {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 3.2rem;
  line-height: 4.4rem;
  font-weight: 400;
  color: $color-black;
}

.headline-tertiary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: $color-black;
}