{% extends 'base.html' %}
{% block body %}
    <div>

        <h1>Hi, I'm Daniel.</h1>

        <div class="grid" style="padding-top: 0px;">
            <img src="assets/IMG_0014.png" alt="Minneapolis">
        </div>

        <p>I live in Minneapolis, Minnesota.</p>
        <p>I enjoy biking, photography, long walks, and spending time with family. Preferably several at
            once! </p>
        <p>As you can see, I'm also a big fan of software development. I hope you have a good time exploring my
            site.</p>
        <p>Want to chat? Contact me at <a href="mailto:daniel@ternyak.com">daniel@ternyak.com</a>.</p>


    </div>
{% endblock %}
