{% extends 'base.html' %}
{% block body %}
    <div>

        <h1>Hi, I'm Daniel.</h1>

                <div class="grid" style="padding-top: 0px;">
            <img src="assets/mn.jpg" alt="Minneapolis">
        </div>

        <p>I live in Minneapolis, Minnesota.</p>
        <p>I enjoy biking, photography, long walks, and spending time with family. Preferably all at
            once! </p>
        <p>As you can see, I'm also a big fan of software development. I hope you have a good time exploring my
            site.</p>
        <p>If you're interested in viewing the source code for this website, it's available on <a
                href="https://github.com/dternyak/danielternyak.com">GitHub</a>.</p>

        <p>Want to chat? Contact me at <a href="mailto:daniel@ternyak.com">daniel@ternyak.com</a>.</p>



    </div>
{% endblock %}
