<html>
<head>
    <meta charset="utf-8">
    <title>Daniel Ternyak</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./src/images/favicon.png">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.quilljs.com/0.20.1/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {% include 'css.html' %}
</head>

<body>
{% block body %}{% endblock %}


</body>
</html>