

{% extends 'base.html' %}

{% block body %}
    <style>
        .me {
            height: 300px
        }
    </style>
    <h1>Articles</h1>
    <div class="articles">

        {% for item in posts %}
            <div class="article">
                <h3><a href="{{ item.fullLink }}" target="_blank">{{ item.title }}</a></h3>
                {% if item.subtitle %}
                        <small>{{ item.subtitle }}</small>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}