{% extends 'base.html' %}
{% block body %}

    <div class="has-text-centered">
        <h1 class="title">Blog Posts</h1>
        <hr/>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                {% for item in posts %}
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <a href="{{ item.fullLink }}" target="_blank">
                                    <b>{{ item.title }}</b>
                                </a>
                                {% if item.subtitle %}
                                    <p>{{ item.subtitle }}</p>
                                {% endif %}
                                <hr/>
                                <small>
                                    Posted by
                                    {{ item.author }}
                                    on
                                    {{ item.updatedAt }}
                                </small>
                            </div>
                        </div>
                    </div>
                    <br/>
                {% endfor %}
                {% if additional.additional %}
                    <h3 style="margin-bottom: 50px">View the rest at
                        <a href="{{ additional.link }}"
                           target="_blank">
                            Medium.com
                        </a>
                    </h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}