<nav class="navbar container">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <p style="font-weight: 900 !important">DT</p>
        </a>

        <a class="navbar-item is-hidden-desktop" href="https://github.com/dternyak" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
        </a>

        <a class="navbar-item is-hidden-desktop" href="https://www.linkedin.com/in/dternyak/" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-linkedin"></i>
      </span>
        </a>
    </div>

    <div id="navMenuExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/dternyak" target="_blank">
                <span class="icon" style="color: #333;"><i class="fa fa-github"></i></span>
                GitHub
            </a>
            <a class="navbar-item" href="https://www.linkedin.com/in/dternyak/" target="_blank">
                <span class="icon" style="color: #55acee;"><i class="fa fa-linkedin"></i></span>
                LinkedIn
            </a>
        </div>
    </div>
</nav>