<h1 class="logo">Daniel Ternyak</h1>
<div class="icons">
    <a href="https://github.com/dternyak" target="_blank"><i class="fab fa-github fa-lg"></i></a>
    <a href="https://twitter.com/dternyak" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
    <a href="https://www.linkedin.com/in/dternyak/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>

</div>
<div class="menu">
    <a href="/" title="About">Home</a>
    <a href="/articles" title="Articles">Articles</a>
    <a href="/projects" title="Projects">Projects</a>
    <a href="/photos" title="Projects">Photos</a>
</div>
