<header>
    <nav class="navbar navbar-default" role=navigation>
        <div class=navbar-header>

            <div class=logo><a href=/ class=active><h2>DT</h2></a></div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href=https://github.com/dternyak target=_blank><i class=ion-social-github></i> GitHub</a>
                <li><a href=https://www.linkedin.com/in/dternyak/ target=_blank><i class=ion-social-linkedin></i> LinkedIn</a>
            </ul>
        </div>
    </nav>
</header>