{% extends 'base.html' %}
{% block body %}
        <style>
        .me {
            height: 300px
        }
    </style>
    <div style="margin-bottom: 50px">
        <h1>Photos</h1>


        <div class="grid">
            <img src="assets/IMG_2081-EFFECTS.jpg" alt="Gallery image 2" class="gallery__img">
            <img src="assets/IMG_1569.jpg" alt="Gallery image 4" class="gallery__img">
            <img src="assets/IMG_2244-EFFECTS.jpg" alt="Gallery image 5" class="gallery__img">
            <img src="assets/IMG_1966.jpg" alt="Gallery image 1" class="gallery__img">
            <img src="assets/IMG_2999.jpg" alt="Gallery image 1" class="gallery__img">
            <img src="assets/IMG_2883-EFFECTS.jpg" alt="Gallery image 5" class="gallery__img">
            <img src="assets/IMG_0363.jpg" alt="Gallery image 5" class="gallery__img">
            <img src="assets/IMG_2920.jpg" alt="Gallery image 5" class="gallery__img">


        </div>


    </div>
{% endblock %}
