{% extends 'base.html' %}
{% block body %}
    <div>

        <h1>Projects</h1>
        <br/>

        <div class="columns">
            <div class="column is-full">
                {% for item in portfolio %}
                    <h1 style="font-size: 1.5em">
                        <a href={{ item.link }} target="_blank">
                            <b>{{ item.title }}</b>
                        </a>
                    </h1>
                    <img src={{ item.image }}>
                    <br/>
                    <br/>
                    <small>
                        {{ item.description }}
                    </small>
                    <br/>
                    <br/>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
