{% extends 'base.html' %}
{% block body %}
    <div>
        <h1>Projects</h1>
        {% for item in portfolio %}
            <div style="margin-bottom: 4em">
                <h3>
                    <a href={{ item.link }} target="_blank">
                        {{ item.title }}
                    </a>
                </h3>
                <a href={{ item.link }} target="_blank"><img src={{ item.image }}></a>
                <small>
                    {{ item.description }}
                </small>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
